/* 1441px ~ */
/* 595px - 1440px */
/* ~ 595px */
body {
  cursor: none;
}
@media (max-width: 1440px) {
  body {
    cursor: auto;
  }
}

#customCursor {
  border-radius: 50%;
  position: fixed;
  left: -50%;
  top: -50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  mix-blend-mode: exclusion;
  user-select: none;
  pointer-events: none;
  width: 1vw;
  height: 1vw;
  background-color: #fff;
  transition: width 0.5s, height 0.5s;
}
@media (max-width: 1440px) {
  #customCursor {
    display: none;
  }
}

#followCursor {
  border-radius: 50%;
  position: fixed;
  left: -50%;
  top: -50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  mix-blend-mode: exclusion;
  user-select: none;
  pointer-events: none;
  width: 1.5vw;
  height: 1.5vw;
  background-color: #fff;
}
@media (max-width: 1440px) {
  #followCursor {
    display: none;
  }
}