@import url(./reset.css);
@import url(./root.css);
@import url(./component.css);
@import url(./font.css);

html, body{
    font-family: "Pretendard-Regular";
    line-height: 1.25;
    letter-spacing: 0.1rem;
    background-color: #fff;
}
button{
    cursor: pointer;
}