#header {
  position: fixed;
  left: 0;
  right: 0;
  top: 30px;
  z-index: 9999;
}
#header .inner {
  padding: 0 30px;
}
#header .inner #gnb {
  width: fit-content;
  color: #fff;
  margin: 0 auto;
  padding: 10px 80px;
  border-radius: 999px;
  background: rgba(51, 51, 51, 0.7450980392);
}
#header .inner #gnb ul#gnb-ul {
  gap: 40px;
}
#header .inner #allMenu {
  width: 30px;
  height: 15px;
}

#main #bgWrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: var(--mainColor-black);
  position: fixed;
  left: 0;
  top: 0;
  user-select: none;
}
#main #bgWrap .bgImg {
  width: 260%;
  height: 260vh;
  background-image: url(../images/visualBg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.5;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transform-origin: center;
}
#main section {
  position: relative;
}
#main section#visual {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#main section#visual .inner {
  width: 100%;
  height: 100%;
  position: relative;
}
#main section#visual .inner .txtBox {
  position: relative;
  color: #fff;
  overflow: hidden;
}
#main section#visual .inner .txtBox #logo {
  font-family: "Protest Guerrilla";
}
#main section#visual .inner .txtBox p.desc {
  width: max-content;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
}
#main section#aboutMe {
  padding: 170px 0 120px;
}
#main section#aboutMe .inner {
  max-width: 1500px;
  margin: 0 auto;
  color: #fff;
}
#main section#aboutMe .inner .txtBox .title::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
}
#main section#aboutMe .inner .txtBox .name {
  margin-top: 50px;
}
#main section#aboutMe .inner .txtBox .txt {
  margin-top: 30px;
}
#main section#aboutMe .inner #skillWrap {
  margin-top: 170px;
  gap: 10px;
  overflow: hidden;
}
#main section#aboutMe .inner #skillWrap div.skillList {
  flex: 1;
  padding: 40px;
  position: relative;
}
#main section#aboutMe .inner #skillWrap div.skillList:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 90%;
  background: #fff;
  position: absolute;
  right: 0;
  top: 5%;
}
#main section#aboutMe .inner #skillWrap div.skillList h3 {
  font-weight: bold;
}
#main section#aboutMe .inner #skillWrap div.skillList ul {
  margin-top: 30px;
  row-gap: 30px;
}
#main section#aboutMe .inner #skillWrap div.skillList ul li {
  width: 25%;
  text-align: center;
  font-size: 12px;
}
#main section#aboutMe .inner #skillWrap div.skillList ul li figure figcaption {
  margin-top: 10px;
}
#main section#createCoding {
  background: #fff;
}
#main section#createCoding .inner {
  max-width: 1500px;
  margin: 0 auto;
}
#main section#createCoding .inner .txtBox {
  width: 100%;
  height: 100vh;
  gap: 20px;
  background: #fff;
}
#main section#createCoding .inner .pageNumber_wrap {
  width: fit-content;
  line-height: 1;
  position: relative;
}
#main section#createCoding .inner .pageNumber_wrap .pageNumber {
  height: 220px;
  font-family: "Protest Guerrilla", sans-serif;
  overflow: hidden;
}
#main section#createCoding .inner .pageNumber_wrap .pageNumber span {
  height: 220px;
}
#main section#createCoding .inner .pageNumber_wrap .pageNumber .transNum {
  transform: translateY(-100%);
}
#main section#createCoding .inner .pageNumber_wrap .pageNumber .transNum span {
  display: block;
}
#main section#createCoding .inner .pageNumber_wrap p {
  text-indent: 20px;
}
#main section#createCoding ul#createCode_wrap {
  margin-top: 150px;
  position: relative;
}
#main section#createCoding ul#createCode_wrap li {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  left: 0;
  top: 0;
}
#main section#createCoding ul#createCode_wrap li#ikeaCoding {
  background-color: var(--ikea-brandColor);
}
#main section#createCoding ul#createCode_wrap li#freitagCoding {
  background-color: var(--freitag-brandColor);
}
#main section#createCoding ul#createCode_wrap li#reoCoding {
  background-color: var(--reo-brandColor);
}
#main section#createCoding ul#createCode_wrap li#millieCoding {
  background-color: var(--millie-brandColor);
}
#main section#createCoding ul#createCode_wrap li#chromaCoding {
  background-color: var(--chroma-brandColor);
}
#main section#createCoding ul#createCode_wrap li .codeInfo {
  display: flex;
  width: 1300px;
  height: 500px;
  margin: 0 auto;
  background: #fff;
}
#main section#cloneCoding {
  background: #fff;
  padding-bottom: 450px;
}
#main section#cloneCoding .inner {
  max-width: 1500px;
  margin: 0 auto;
  padding-top: 300px;
}
#main section#cloneCoding .inner .pageNumber_wrap {
  width: fit-content;
  line-height: 1;
  position: relative;
}
#main section#cloneCoding .inner .pageNumber_wrap .pageNumber {
  height: 220px;
  font-family: "Protest Guerrilla", sans-serif;
  overflow: hidden;
}
#main section#cloneCoding .inner .pageNumber_wrap .pageNumber span {
  height: 220px;
}
#main section#cloneCoding .inner .pageNumber_wrap .pageNumber .transNum {
  transform: translateY(-100%);
}
#main section#cloneCoding .inner .pageNumber_wrap .pageNumber .transNum span {
  display: block;
}
#main section#cloneCoding .inner .pageNumber_wrap p {
  text-indent: 20px;
}
#main section#cloneCoding ul#cloneCode_wrap {
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 150px;
  gap: 160px;
}
#main section#cloneCoding ul#cloneCode_wrap li:nth-child(even) {
  transform: translateY(50%);
}
#main section#cloneCoding ul#cloneCode_wrap li figure {
  width: 590px;
  height: 590px;
  position: relative;
  background: url(../images/cloneCoding/clone01.png) no-repeat center/cover;
}
#main section#cloneCoding ul#cloneCode_wrap li figure::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
}
#main section#cloneCoding ul#cloneCode_wrap li figure figcaption {
  color: #fff;
  font-size: 54px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#main section#cloneCoding ul#cloneCode_wrap li button.viewBtn {
  font-size: 18px;
  margin-top: 30px;
}
#main section#learningList {
  background: #fff;
  padding-bottom: 500px;
}
#main section#learningList .inner {
  max-width: 1500px;
  margin: 0 auto;
  padding-top: 300px;
}
#main section#learningList .inner .pageNumber_wrap {
  width: fit-content;
  line-height: 1;
  position: relative;
}
#main section#learningList .inner .pageNumber_wrap .pageNumber {
  height: 220px;
  font-family: "Protest Guerrilla", sans-serif;
  overflow: hidden;
}
#main section#learningList .inner .pageNumber_wrap .pageNumber span {
  height: 220px;
}
#main section#learningList .inner .pageNumber_wrap .pageNumber .transNum {
  transform: translateY(-100%);
}
#main section#learningList .inner .pageNumber_wrap .pageNumber .transNum span {
  display: block;
}
#main section#learningList .inner .pageNumber_wrap p {
  text-indent: 20px;
}
#main section#learningList .inner ul#leaningList {
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 110px;
  border-top: 1px solid #333;
}
#main section#learningList .inner ul#leaningList li {
  border-bottom: 1px solid #333;
}
#main section#learningList .inner ul#leaningList li a {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
#main section#learningList .inner ul#leaningList li .listInfo h4 {
  font-size: 1.375rem;
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: bold;
  color: var(--subColor-black_333);
}
#main section#learningList .inner ul#leaningList li .listInfo h4 span {
  font-size: 1rem;
  font-weight: 400;
  color: var(--subColor-black_999);
}
#main section#learningList .inner ul#leaningList li .listInfo p {
  font-size: 1rem;
  margin-top: 70px;
}
#main section#learningList .inner ul#leaningList li p.desc {
  width: 60%;
  font-size: 1.25rem;
  color: var(--subColor-black_777);
}

#footer {
  width: 100%;
  height: 100vh;
  background-color: var(--mainColor-black);
  position: relative;
}
#footer h3 {
  color: #fff;
  mix-blend-mode: difference;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -45%);
}
#footer .inner ul#snsList {
  gap: 30px;
}
#footer .inner ul#snsList li {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#footer .inner ul#snsList li#gitHub {
  background-image: url(../images/snsIcon/gitHub.png);
}
#footer .inner ul#snsList li#tStory {
  background-image: url(../images/snsIcon/tStory.png);
}
#footer .inner ul#snsList li#insta {
  background-image: url(../images/snsIcon/insta.png);
}