#header {
  position: fixed;
  left: 0;
  right: 0;
  top: 30px;
  z-index: 9999;
}
#header .inner {
  padding: 0 30px;
}
#header .inner #gnb {
  width: fit-content;
  color: #fff;
  margin: 0 auto;
  padding: 10px 80px;
  border-radius: 999px;
  background: rgba(51, 51, 51, 0.7450980392);
}
#header .inner #gnb ul#gnb-ul {
  gap: 40px;
}
#header .inner #allMenu {
  width: 30px;
  height: 15px;
}

#main #bgWrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: var(--mainColor-black);
  position: fixed;
  left: 0;
  top: 0;
  user-select: none;
}
#main #bgWrap .bgImg {
  width: 260%;
  height: 260vh;
  background-image: url(../images/visualBg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.5;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transform-origin: center;
}
#main section {
  position: relative;
}
#main section#visual {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#main section#visual .inner {
  width: 100%;
  height: 100%;
  position: relative;
}
#main section#visual .inner .txtBox {
  position: relative;
  color: #fff;
  overflow: hidden;
}
#main section#visual .inner .txtBox #logo {
  font-family: "Protest Guerrilla";
}
#main section#visual .inner .txtBox p.desc {
  width: max-content;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
}
#main section#aboutMe {
  padding: 170px 0 120px;
}
#main section#aboutMe .inner {
  max-width: 1500px;
  margin: 0 auto;
  color: #fff;
}
#main section#aboutMe .inner .txtBox .title::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
}
#main section#aboutMe .inner .txtBox .name {
  margin-top: 50px;
}
#main section#aboutMe .inner .txtBox .txt {
  margin-top: 30px;
}
#main section#aboutMe .inner #skillWrap {
  margin-top: 170px;
  gap: 10px;
  overflow: hidden;
}
#main section#aboutMe .inner #skillWrap div.skillList {
  flex: 1;
  padding: 40px;
  position: relative;
}
#main section#aboutMe .inner #skillWrap div.skillList:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 90%;
  background: #fff;
  position: absolute;
  right: 0;
  top: 5%;
}
#main section#aboutMe .inner #skillWrap div.skillList h3 {
  font-weight: bold;
}
#main section#aboutMe .inner #skillWrap div.skillList ul {
  margin-top: 30px;
  row-gap: 30px;
}
#main section#aboutMe .inner #skillWrap div.skillList ul li {
  width: 25%;
  text-align: center;
  font-size: 12px;
}
#main section#aboutMe .inner #skillWrap div.skillList ul li figure figcaption {
  margin-top: 10px;
}
#main section#createCoding {
  background: #fff;
}
#main section#createCoding .inner {
  max-width: 1500px;
  margin: 0 auto;
}
#main section#createCoding .inner .txtBox {
  width: 100%;
  height: 100vh;
  gap: 20px;
  background: #fff;
}
#main section#createCoding .inner .pageNumber_wrap {
  width: fit-content;
  line-height: 1;
  font-family: "Protest Guerrilla", sans-serif;
  position: relative;
}
#main section#createCoding .inner .pageNumber_wrap .pageNumber {
  height: 220px;
  overflow: hidden;
}
#main section#createCoding .inner .pageNumber_wrap .pageNumber span {
  height: 220px;
}
#main section#createCoding .inner .pageNumber_wrap .pageNumber .transNum {
  transform: translateY(-100%);
}
#main section#createCoding .inner .pageNumber_wrap .pageNumber .transNum span {
  display: block;
}