// Breakpoints
$breakpoint-mobile: 596px;
$breakpoint-tablet: 1440px;

/* 1440px ~ */
@mixin desktop {
  @media (min-width: #{$breakpoint-tablet + 1}) {
    @content;
  }
}
/* 595px - 1440px */
@mixin tablet {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}
/* ~ 595px */
@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

/* text style */
.text-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* flex */
* {
  .flex {
    display: flex;
  }
  .flex-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .flex-column {
    flex-direction: column;
  }
  .justify-center {
    justify-content: center;
  }
  .justify-between {
    justify-content: space-between;
  }
  .justify-around {
    justify-content: space-around;
  }
  .justify-evenly {
    justify-content: space-evenly;
  }
  .align-center {
    align-items: center;
  }
  .align-end {
    align-items: end;
  }
}

/* text */
* {
  .textAlign-center {
    text-align: center;
  }
  .textAlign-left {
    text-align: left;
  }
  .textAlign-right {
    text-align: right;
  }
}

/* font */
* {
  .fSize-432 {
    font-size: 27rem; /* 432px */
  }
  .fSize-348 {
    font-size: 21.75rem; /* 348px */
  }
  .fSize-216 {
    font-size: 13.5rem; /* 216px */
  }
  .fSize-140 {
    font-size: 8.75rem; /* 140px */
  }
  .fSize-52 {
    font-size: 3.25rem; /* 52px */
  }
  .fSize-44 {
    font-size: 2.75rem; /* 44px */
  }
  .fSize-32 {
    font-size: 2rem; /* 32px */
  }
  .fSize-22 {
    font-size: 1.375rem; /* 22px */
  }
  .fSize-20 {
    font-size: 1.25rem; /* 20px */
  }
  .fSize-18 {
    font-size: 1.125rem; /* 18px */
  }
  .fSize-16 {
    font-size: 1rem; /* 16px */
  }
  .fSize-14 {
    font-size: 0.875rem; /* 14px */
  }
  .fSize-12 {
    font-size: 0.75rem; /* 12px */
  }
}

/* .inner padding */
.paddingBox {
  padding: 0 70px;
  box-sizing: content-box;
  @include mobile() {
    padding: 0;
  }
}

/* 영역별 페이지 번호 */
.pageNumber_wrap {
  width: fit-content;
  line-height: 1;
  position: relative;
  @include mobile() {
    margin:0 auto
  }
  .pageNumber {
    height: 220px;
    font-family: "Protest Guerrilla", sans-serif;
    overflow: hidden;
    span {
      height: 100%;
    }
    .transNum {
      transform: translateY(0%);
      transition: 0.5s;
      span {
        display: block;
      }
    }
  }
  p.txt {
    height: 50px;
    margin-left: 20px;
    overflow: hidden;
    @include mobile() {
      margin-left: 0px;
      justify-content: center;
    }
    span {
      width: fit-content;
      transform: translateY(100%);
      transition: 0.5s;
    }
  }
}

