@use "./breakPoint.scss" as bp;

body {
  cursor: none;
  @include bp.tablet{
    cursor:auto;
  }
}

@mixin cursorStyle {
  border-radius: 50%;
  position: fixed;
  left: -50%;
  top: -50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  mix-blend-mode: exclusion;
  user-select: none;
  pointer-events: none;
  @include bp.tablet{
    display: none;
  }
}
#customCursor {
  @include cursorStyle();
  width: 1vw;
  height: 1vw;
  background-color: #fff;
  transition: width 0.5s, height 0.5s;
}

#followCursor {
  @include cursorStyle();
  width: 1.5vw;
  height: 1.5vw;
  background-color: #fff;
}
